<h1>Create a Team and Heroes!</h1>
  <form action="/teams" method="POST">
    <label for="team_name">Team Name: <input="text" name="team[name]">
      <label for="team_motto">Team Motto: <input="text" name="team[motto]"
    <input type="submit">
  </form>
